<div class="fruitlist_content">
  @for(item of fruitlist; track item.name; let index = $index){
  <section class="singleFruitBox">
    <div>
      <img src="./assets/img/fruits/{{ item.img }}" alt="" srcset="" />
    </div>
    <div>
      <h2>{{ item.name }}</h2>
      <div>
        <p><b>Bewertung:</b></p>
        <div>
          <!-- @for (i of [1, 2, 3, 4, 5]; track fruitlist) { @if (i <= item.stars) {
          <img src="./assets/img/stars/star.svg" alt="" />
          } @else if(i <= item.stars - 0.5) {
          <img src="./assets/img/stars/star-half.svg" alt="" />
          } @else {
          <img src="./assets/img/stars/star-empty.svg" alt="" />
          } } -->

          <!-- alternative for loop um die Sterne anzuzeigen -->

          <!-- varriante mit count ist besser, da sie nicht über die gesamte liste iteriert sondern nur über die anzahl der sterne -->

          @for (count of [1, 2, 3, 4, 5]; track fruitlist) { @if (item.stars >=
          count) {
          <img src="./assets/img/stars/star.svg" alt="" />
          } @else if(item.stars >= count - 0.5) {
          <img src="./assets/img/stars/star-half.svg" alt="" />
          } @else {
          <img src="./assets/img/stars/star-empty.svg" alt="" />
          } }
          <p>({{ item.stars }})</p>
        </div>
      </div>
      <div><b>Art:</b><br />{{ item.genus }}</div>
      <div><b>Beschreibung:</b><br />{{ item.description }}</div>
      <div>
        <div>
          <div>
            @for(review of item.reviews; track review){
            <!-- for schleife nicht über die liste sondern über die reviews des jeweiligen items -->
            <b>{{ review.name }}:</b><br />{{ review.text }}
            }@empty {
            <!-- empty block wenn keine reviews vorhanden sind -->
            <p>Keine Bewertungen vorhanden.</p>
            }
          </div>
        </div>
        <div>
          <input type="text" /><button>
            <img src="./assets/img/arrow-35-32.png" alt="" srcset="" />
          </button>
        </div>
      </div>
    </div>
  </section>
  }
</div>
